absl-py==0.1.10
alabaster==0.7.11
Babel==2.6.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
Cython==0.28.3
decorator==4.2.1
docutils==0.14
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
html5lib==0.9999999
idna==2.7
imagesize==1.0.0
Jinja2==2.10
Keras==2.1.3
ltfatpy==1.0.12
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
Mesa==0.8.3
mock==2.0.0
networkx==2.1
numpy==1.14.0
numpydoc==0.8.0
opencv-python==3.4.0.12
packaging==17.1
pandas==0.22.0
pbr==3.1.1
Pillow==5.0.0
protobuf==3.5.1
pyDOE==0.3.8
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
PyYAML==3.12
requests==2.19.1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
singledispatch==3.4.0.3
six==1.11.0
smt==0.2
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
subprocess32==3.2.7
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
tornado==5.0.1
tqdm==4.19.9
typing==3.6.4
urllib3==1.23
Werkzeug==0.14.1
